# Created by .ignore support plugin (hsz.mobi)
./authentication/node_modules/
./authentication/dist/
./authentication/.idea/
./authentication/dist/
redux-getting-started/node_modules
.idea
/authentication/dist/
/redux-getting-started/dist/
/authentication/node_modules/
/todo-list/node_modules/
